MONGO_URI=mongodb://mongo:27017/inno-task-tracker
SECURITY_JWT_SECRET=Hr73kl@01wQP7czvMdNxx4
SECURITY_JWT_TTL=3600
REDIS_URL=redis://default:smCTVfB11A7HNRyjWKmm8SuxQVlvombc@redis-17485.c252.ap-southeast-1-1.ec2.redns.redis-cloud.com:17485
REDIS_CACHE_TTL=60